<div class="col-md4 col-md-offset-4">
	<h2>編輯討論群</h2>
	<hr>
	<%= form_for @discuss_group do |f| %>
	標題
	<%= f.text_field :title %>
	<br>

	敘述
	<%= f.text_area :description %>
	<BR>

	<%= f.submit "送出", disable_with: "submiting..." %>
	<% end %>
	
</div>