<div class="col-md-12">
	<div class="group">
		<% if current_user && current_user == @discuss_group.user %>
			<%= link_to "Edit", edit_discuss_group_path(@discuss_group), class: "btn btn-primary pull-right" %>
		<% end %>			
	</div>
	<h2><%= @discuss_group.title %></h2>
	<p>
		<%= @discuss_group.description %>
	</p>
</div>